// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.CTA {

  background-image: url(asset-path("bg.jpg"));
  background-repeat: no-repeat;
  background-size: auto 100%;
}

div.section {
  padding-top: 200px;
  color: white;
}
