// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.CTA {
  min-height: 100vh;
  background-image: url(asset-path("bg.jpg"));
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: white;
}

section.Index {
  min-height: 100vh;
  padding-top: 70px;
  background-image: url(asset-path("bg.jpg"));
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: white;
  a{
    color: white;
  }
  p {
    color: white;
  }
  .info{
    padding-top: 30px;
  }
}

.footer {
  padding-top: 15px;
}
  .right {
    text-align: right;
  }

.IMG {
  border-radius: 400px;
}
.liste {
    overflow: scroll;
    height: 350px;
}
